
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.navbar {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.navbar h1 {
  font-size: 2em;
}

.navbar p {
  font-size: 1em;
  margin-top: 10px;
}


.container {
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #6989ce;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form h2 {
  margin-bottom: 10px;
}

form p {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}


section {
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

thead {
  background-color: #f1f1f1;
}

.h2 {
  text-align: center;
  margin-bottom: 10px;
}
